header {

    display: flex;
    justify-content: space-between;
}

    header ul {
        display: flex;
    }

    header a {

        text-decoration: none;
        
        color: black;
    }

    header ul li {

        list-style-type: none;
        margin-right: 40px;
    }

    #show_login:hover, #show_subscribe:hover {

        cursor: grab;
    }

    #subscribe_form, #login_form {

        flex-direction: column;

        width: 50%;
    }